[Ll]ibrary
[Tt]emp
[Oo]bj
UserSettings

Log/*.log
Logs

# for Unity
/*.unityproj
/*.csproj
/*.pidb
/*.sln
/*.userprefs
.vscode

/Assets/Demigiant
/Assets/TextMesh Pro

# for Mac
.DS_Store

# for Win
Thumb.db
